last-session.txt
*.lock
*.py[co]
*.pyw[co]
.~lock.*#
.zedstate

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
# bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Gedit
*~

# Log, backups y demás información sensible e inútil para el desarrollo
ginn.log
*.backup
db/ginn.?.dump
db/baks_sql
ginn/adjuntos/*
ginn/framework/*ginn*.conf*
tests/*.csv
tests/cierre*
tests/cierre*/*.csv
credentials.txt

# Control de versiones CVS
CVS
CVS/*

# Temporales de vi
.*.swp
.*.swo

# Aptana/Eclipse
.project
.pydevproject
.settings

# KDE
.directory

# Glade
*.glade#

# Datos de exportaciones a Murano
ginn/api/tests/*.csv
ginn/api/tests/*.xls
ginn/api/tests/*.log
ginn/api/tests/*ramanujan.md
ginn/api/*.log
ginn/*.log

# API de servicios en la nube
API*.json

# Datos sensibles exportados
extra/scripts/*.csv 
extra/scripts/*.xls 
extra/scripts/*.xlsx

# Datos temporales
ginn/api/tests/sr_lobo.db
extra/scripts/estudio_de_merma*.txt

# virtual environment
bin/Activate.ps1
bin/activate
bin/activate.csh
bin/activate.fish
bin/easy_install
bin/easy_install-3.8
bin/pip
bin/pip3
bin/pip3.8
bin/python
bin/python3
bin/sqlobject-admin
bin/sqlobject-convertOldURI
include/
lib/
lib64
share/
bin/f2py
bin/f2py3
bin/f2py3.8
bin/pypprint
bin/iptest
bin/iptest3
bin/ipython
bin/ipython3
bin/pygmentize
bin/easy_install-3.9
bin/pip3.9
bin/python3.9
bin/f2py3.9
