[submodule "ginn/lib/PyPDF2"]
	path = ginn/lib/PyPDF2
	url = git@github.com:pacoqueen/PyPDF2.git
[submodule "ginn/lib/simple_odspy"]
	path = ginn/lib/simple_odspy
	url = git@github.com:pacoqueen/simple_odspy.git
[submodule "ginn/lib/odfpy"]
	path = ginn/lib/odfpy
	url = git@github.com:pacoqueen/odfpy.git
[submodule "ginn/lib/xlwt"]
	path = ginn/lib/xlwt
	url = git@github.com:pacoqueen/xlwt.git
[submodule "xlrd"]
	path = xlrd
	url = git@github.com:pacoqueen/xlrd.git
[submodule "xlutils"]
	path = xlutils
	url = git@github.com:pacoqueen/xlutils.git
[submodule "ginn/lib/xlrd"]
	path = ginn/lib/xlrd
	url = git@github.com:pacoqueen/xlrd.git
[submodule "ginn/lib/xlutils"]
	path = ginn/lib/xlutils
	url = git@github.com:pacoqueen/xlutils.git
[submodule "ginn/lib/pprintpp"]
	path = ginn/lib/pprintpp
	url = git@github.com:pacoqueen/pprintpp.git
[submodule "ginn/lib/textprogressbar"]
	path = ginn/lib/textprogressbar
	url = git@github.com:pacoqueen/python-textprogressbar.git
[submodule "ginn/lib/cairoplot"]
	path = ginn/lib/cairoplot
	url = git@github.com:pacoqueen/cairoplot.git
[submodule "ginn/lib/cagraph"]
	path = ginn/lib/cagraph
	url = git@github.com:pacoqueen/cagraph.git
[submodule "ginn/lib/fuzzywuzzy"]
	path = ginn/lib/fuzzywuzzy
	url = git@github.com:Geotexan/fuzzywuzzy.git
[submodule "ginn/lib/tqdm"]
	path = ginn/lib/tqdm
	url = git@github.com:pacoqueen/tqdm.git
[submodule "ginn/lib/pyqrcode"]
	path = ginn/lib/pyqrcode
	url = git@github.com:Geotexan/pyqrcode
