last-session.txt
*.lock
*.py[co]
*.pyw[co]
.~lock.*#
.zedstate

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
# bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Gedit
*~

# Log, backups y demás información sensible e inútil para el desarrollo
ginn.log
*.backup
db/ginn.?.dump
db/baks_sql
ginn/adjuntos/*
ginn/framework/*ginn*.conf*
tests/*.csv
tests/cierre*
tests/cierre*/*.csv
credentials.txt

# Control de versiones CVS
CVS
CVS/*

# Temporales de vi
.*.swp
.*.swo

# Aptana/Eclipse
.project
.pydevproject
.settings

# KDE
.directory

# Glade
*.glade#

# Datos de exportaciones a Murano
ginn/api/tests/*.csv
ginn/api/tests/*.xls
