/* Hoja de estilos */

html {
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
}

body { 
    font: 75% georgia, sans-serif;
    line-height: 1.88889;
    color: #555753; 
    margin: 0; 
    padding: 0;
    background:#fff url(bg.png) repeat-x;
}

p { 
    margin-top: 0; 
    text-align: justify;
}

h1 { 
    font: italic normal 2.4em georgia, sans-serif;
    background-color: #e5b86a;
    letter-spacing: 2px; 
    margin-bottom: 0; 
    color: #105e06;
    padding-left: 8px;
}

h2 {
    text-align: center;
}

h3 { 
    font: italic normal 1.4em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 0; 
    color: #7D775C;
    text-align: center;
}

ul {
    font-size: medium;
}

a:link { 
    font-weight: bold; 
    text-decoration: none; 
    color: #B7A5DF;
}

a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color: #D4CDDC;
}

a:hover, a:active { 
    text-decoration: underline; 
    color: #9685BA;
}

acronym {
    border-bottom: none;
}


#footer { 
    text-align: center; 
}

#footer a:link, #footer a:visited { 
    margin-right: 20px; 
}

.accesskey {
    text-decoration: underline;
}

.numero{
    text-align: right;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
    font-weight:bold;
}

textarea{
    width:320px;height:40px;border: 1px solid #000099;
}

form{
    border: 1px solid #666699;
    padding: 5px;
}

#miniseparador hr{
    color: #fff; 
    background-color: #fff; 
    border: 1px dotted #000099; 
    border-style: none none dotted; 
} 

