{% extends "base2.html" %}
{% load i18n %}

{% block titulo %}Geotexan{% endblock %}

{%block encabezado%}Seleccione una opción{%endblock%}
{%block datos%}
  <dl>
    <dt><a href="/primera_visita">Primera visita</a></dt>
    <dd>Seleccionar empresa e introducir la información acerca de la primera visita.</dd>
    <dt><a href="/admin/comerciales/visita/add/">Anotar siguientes visitas</a></dt>
    <dd>Seleccionar empresa e introducir nueva visita.</dd>
    <dt><a href="/admin/comerciales/precio/add/">Introducir precios ofertados</a></dt>
    <dd>Seleccionar empresa e introducir precio y producto ofertado.</dd>
    <dt><a href="/admin/comerciales/ficha/add/">Anotar fichas dejadas al cliente</a></dt>
    <dd>Seleccionar empresa y teclear la referencia de la ficha.</dd>
    <dt><a href="/admin/comerciales/muestra/add/">Anotar muestras dejadas al cliente</a></dt>
    <dd>Seleccionar empresa e introducir descripción de la muestra.</dd>
    <dt><a href="/admin/comerciales/catalogo/add/">Anotar catálogos dejados al cliente</a></dt>
    <dd>Seleccionar empresa y teclear descripción del catálogo.</dd>
    <dt><a href="/admin/comerciales/proyecto/add/">Guardar proyectos</a></dt>
    <dd>Seleccionar empresa e introducir proyectos relacionados.</dd>
    <dt><a href="/admin/comerciales/referencia/add/">Guardar referencias</a></dt>
    <dd>Seleccionar empresa e introducir referencias a terceros.</dd>
    <dt><a href="/admin/comerciales/contacto/add/">Crear personas de contacto</a></dt>
    <dd>Relacionar personas de contacto con empresa seleccionada.</dd>
  </dl>
{%endblock%}
