{% extends "base2.html" %}

{% block titulo %}Geotexan - Empresas{% endblock %}

{% block encabezado %}Formulario empresa{% endblock %}
{% block datos %}
    <p>
      <select name="lista_empresas" 
       onchange="location = this.options[this.selectedIndex].value;">
        {% for empresa in empresas %}
          <option value="/empresas/{{empresa.id}}/editar"
          {%ifequal empresa.id form.instance.id%}
            selected="selected"
          {%endifequal%}
          >{{ empresa }}</option>
        {%endfor%}
      </select>
    </p>
    <form action="." method="POST">
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" value="Guardar"></p>
    </form>
<!--    <form method="POST" action=""> 
        {{ formsfichas.management_form }}
        <table>
            {% for form in formsfichas.forms %}
                {{ form }}
            {% endfor %}
        </table>
        <input type="submit" value="Guardar ficha"> 
    </form> -->
{% endblock %}

